{
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "useTabs": false,
  "arrowParens": "always",
  "proseWrap": "never",
  "bracketSpacing": true
}
